@charset "utf-8";

//============================================================
//    自作mixin
//============================================================

//--------------------------------------
//    Media Queries（メディアクエリ）
//--------------------------------------
@mixin pc {
    // PC表示: 768+20=788px～
    @media only screen and (min-width: $w-pc + $w-scrollbar) {
        @content;
    }
}
//@include pc {};

@mixin tab {
    // タブレット表示: 480+20=500px ～ 768+20-1=787px
    @media only screen and (min-width: $w-tab + $w-scrollbar) and (max-width: $w-tab + $w-scrollbar - 1) {
        @content;
    }
}
//@include tab {};

@mixin sp {
    // スマートフォン表示: 480+20-1=499px～
    @media only screen and (max-width: $w-sp + $w-scrollbar - 1) {
        @content;
    }
}
//@include sp {};

//--------------------------------------
//    box-sizing（ボックスサイズ）
//--------------------------------------
@mixin box-sizing($type) {
    -webkit-box-sizing:$type;
    -moz-box-sizing:$type;
    box-sizing:$type;
}
//@include box-sizing(border-box);

//--------------------------------------
//    opacity（不透明度）
//--------------------------------------
@mixin opacity($opacity) {
    opacity: $opacity;
    filter: alpha(opacity=($opacity * 100));
}
//@include opacity(0.5);

//--------------------------------------
//    column-width（カラム幅）
//--------------------------------------
@mixin column-width ( $value: 150px ) {
    -webkit-column-width: $value;
    -moz-column-width: $value;
    column-width: $value;
}
//@include column-width(150px);

//--------------------------------------
//    circle（円形）
//--------------------------------------
@mixin circle {
    @include border-radius(100%);
}
//@include circle();

//--------------------------------------
//    font-size（フォントサイズ）
//--------------------------------------
@mixin fz($size) {
    font-size:$size;
    font-size: ($size / 16px) * 1rem;
}
//@include fz(14px);

//--------------------------------------
//    box-shadow（ボックスシャドウ）
//--------------------------------------
@mixin box-shadow( $h: 10px , $v: 10px , $b: 0px , $s: 0px , $c: #101010 ) {
    -webkit-box-shadow: $h $v $b $s $c;
    -moz-box-shadow: $h $v $b $s $c;
    box-shadow: $h $v $b $s $c;
}
//@include box-shadow(8px, 8px);

//--------------------------------------
//    inline-block（インラインブロック）
//--------------------------------------
@mixin inline-block {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}
//@include inline-block;

//--------------------------------------
//    imgSize（画像のサイズを取得）
//--------------------------------------
@mixin imgSize($img) {
width: image-width($img);
height: image-height($img);
}
//@include imgSize("sample.png");

//--------------------------------------
//    img64（画像のBASE64エンコード）
//--------------------------------------
@mixin img64($img) {
background: inline-image($img) no-repeat;
}
//@include img64("sample.png");

//--------------------------------------
//    imgC（画像のセンタリング）
//--------------------------------------
@mixin imgC {
display: block;
margin-left: auto;
margin-right: auto;
}
//@include imgC

//--------------------------------------
//    tableCell（テーブルセル）
//--------------------------------------
@mixin tableCell {
    display: table-cell;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
}
//@include tableCell

//--------------------------------------
//    visuallyhidden（非表示）
//--------------------------------------
@mixin vh {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    border: 0;
    clip: (0 0 0 0);
    overflow: hidden;
}
//@include vh

//--------------------------------------
//    image replace（画像置き換え）
//--------------------------------------
@mixin ir {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
//@include ir

//--------------------------------------
//    clearfix（クリアフィックス）
//--------------------------------------
@mixin cf {
zoom:100%;
    &:after {
    content:".";
    height:0;
    clear:both;
    display:block;
    visibility:hidden;
    }
}
//@include cf

//--------------------------------------
//    vertical-align（天地の中央に配置）
//--------------------------------------
@mixin vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
//@include vertical-align

//--------------------------------------
//    flexbox（フレックスボックス）
//--------------------------------------
@mixin flexbox {
    display:-webkit-box; // old
    display:-moz-box; // old
    display:-ms-flexbox; // ie
    display:-webkit-flex; // new
    display:flex; // new
}
//@include flexbox

//--------------------------------------
//    flex-order（表示の順番）
//--------------------------------------
@mixin flex-order($order) {
    -webkit-box-ordinal-group: $order; // old
    -moz-box-ordinal-group: $order; // old
    -ms-flex-order: $order; // ie
    -webkit-order: $order; // new
    order: $order; // new
}
//@include flex-order(3)

//--------------------------------------
//    flex-direction（表示の方向）
//--------------------------------------
@mixin flex-direction($direction) {
    @if $direction == column {
        -webkit-flex-direction:vertical;
        -moz-flex-direction:vertical;
        -ms-flex-direction:column;
        -webkit-flex-direction:column;
        flex-direction:column;
    }
    @else {
        -webkit-flex-direction:horizontal;
        -moz-flex-direction:horizontal;
        -ms-flex-direction:row;
        -webkit-flex-direction:row;
        flex-direction:row;
    }
}
//@include flex-direction(column)

//--------------------------------------
//    gradient（グラデーション）
//--------------------------------------
@mixin gradient($start-color, $end-color, $orientation) {
    background: $start-color;
    @if $orientation == vertical {
        // vertical
        background: -moz-linear-gradient(top,  $start-color 0%, $end-color 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$start-color), color-stop(100%,$end-color));
        background: -webkit-linear-gradient(top,  $start-color 0%,$end-color 100%);
        background: -o-linear-gradient(top,  $start-color 0%,$end-color 100%);
        background: -ms-linear-gradient(top,  $start-color 0%,$end-color 100%);
        background: linear-gradient(to bottom,  $start-color 0%,$end-color 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$start-color', endColorstr='$end-color',GradientType=0 );
    }
    @else if $orientation == horizontal {
        // horizontal
        background: -moz-linear-gradient(left,  $start-color 0%, $end-color 100%);
        background: -webkit-gradient(linear, left top, right top, color-stop(0%,$start-color), color-stop(100%,$end-color));
        background: -webkit-linear-gradient(left,  $start-color 0%,$end-color 100%);
        background: -o-linear-gradient(left,  $start-color 0%,$end-color 100%);
        background: -ms-linear-gradient(left,  $start-color 0%,$end-color 100%);
        background: linear-gradient(to right,  $start-color 0%,$end-color 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$start-color', endColorstr='$end-color',GradientType=1 );
    }
    @else {
        // radial
        background: -moz-radial-gradient(center, ellipse cover,  $start-color 0%, $end-color 100%);
        background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,$start-color), color-stop(100%,$end-color));
        background: -webkit-radial-gradient(center, ellipse cover,  $start-color 0%,$end-color 100%);
        background: -o-radial-gradient(center, ellipse cover,  $start-color 0%,$end-color 100%);
        background: -ms-radial-gradient(center, ellipse cover,  $start-color 0%,$end-color 100%);
        background: radial-gradient(ellipse at center,  $start-color 0%,$end-color 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$start-color', endColorstr='$end-color',GradientType=1 );
    }
}
//@include gradient(#ff00ff, #ff00cc, vertical)

//--------------------------------------
//    ghost-button（ゴーストボタン）
//--------------------------------------
@mixin ghost-button($font, $font-size, $font-color, $border-size, $border-color, $padding, $transition-speed, $hover-color) {
    display:inline-block;
    text-decoration:none;
    text-transform:uppercase;
    font-family: $font;
    font-size: $font-size;
    color:$font-color;
    border:$border-size solid $border-color;
    padding:$padding;
    -webkit-transition: color $transition-speed, background $transition-speed;
    transition: color $transition-speed, background $transition-speed;
    &:hover {
        background:$border-color;
        color:$hover-color;
    }
}
//@include ghost-button(“Trebuchet”, 12px, #ffffff, 5px, #34dec6, 4px, 300ms, #000000 )

//--------------------------------------
//    middleline（1行テキスト上下中央配置）
//--------------------------------------
@mixin middleline($height, $ie: 0) {
    height: $height + px;
    line-height: $height + px;
    &:not(:target) {
        line-height: $height + $ie + px + \9;
    }
    :root & {
        line-height: $height + $ie + px + \9;
    }
}
//@include middleline(25)
//@include middleline(25, -1) //IE

//--------------------------------------
//    arrow（矢印）
//--------------------------------------
@mixin arrow($direction: right, $size: 10, $color: $black) {
    $set: left;
    @if $direction == left {
        $set: right;
    } @elseif $direction == top {
        $set: bottom;
    } @elseif $direction == bottom {
        $set: top;
    } @else {
        $set: left;
    }
    $size: round($size / 2);
    width: 0;
    height: 0;
    border: $size + px solid transparent;
    border-#{$set}-color: $color;
}
//@include arrow //10x10
//@include arrow(bottom,20,#333)

//--------------------------------------
//    arrow（矢印アイコン）
//--------------------------------------
@mixin arrowlink($top, $size: 10, $color: $black) {
    position: relative;
    padding-left: 10px;
    &:before {
        display: block;
        content: "";
        position: absolute;
        top: $top + px;
        left: 1px;
        @include arrow(right, $size, $color);
    }
}
//@include arrowlink(5)
//@include arrowlink(5,8,#666)

//============================================================
//    自作extend
//============================================================
