@charset "utf-8";

//============================================================
//    インポート
//============================================================

@import "reset/normalize";     //Style Reset and Normalize
@import "setting";             //Basic Settings
@import "addon/web-fonts";     //Google Web Fonts
@import "components/grid";     //grid
@import "components/mixin";     //mixin

//============================================================
//    基本部分
//============================================================

body {
    background-color: #ffffff;
    text-align:justify;
    text-justify:inter-ideograph;
    text-align: left;
    overflow-y:scroll;
    *font-size:small;
    *font:x-small;
    font-weight: normal;
    font-style: normal;
    font-family:$font;
    @include fz(14px);
    line-height:1.61;
    color: $tc;
}

a {
    color: $lc ;
    text-decoration: none;
    &:hover {
        color:lighten($lc, 20%);
        text-decoration: underline;
        @include tr(all, 300ms, linear);
    }
    &:active, &:focus {
        color:lighten($lc, 50%);
    }
    img:hover {
        @include tr(all, 300ms, linear);
    }
}

//============================================================
@media screen and (min-width: $w-tab + 1) { //pc用スタイルここから
//============================================================

//============================================================
//    ヘッダー部分
//============================================================
header {
    @include cf;
    width: $w-site - 10px;
    padding: 5px;
    margin-bottom: $mb3;

    nav#gNav {
        @include cf;
        li {
            float: left;
            list-style-type: none;
        }
    }
}

//============================================================
//    コンテンツ部分
//============================================================
#contents {
    @include cf;
    width: $w-site - 10px;
    padding: 5px;
    margin-bottom: $mb3;
    @include fz(16px);
    .btn {
        @include flatBtn(“Arial”, 12px, #ffffff, #34dec6, 4px, 5px 10px, 300ms);
    }
}

//----------------------------------------------------
//    コンテンツ1
//----------------------------------------------------

//----------------------------------------------------
//    コンテンツ2
//----------------------------------------------------

//----------------------------------------------------
//    コンテンツ3
//----------------------------------------------------

//----------------------------------------------------
//    コンテンツ4
//----------------------------------------------------

//----------------------------------------------------
//    コンテンツ5
//----------------------------------------------------

//============================================================
//    フッター部分
//============================================================
footer {
    @include cf;
    width: $w-site - 10px;
    padding: 10px;

    .copyright {
        text-align: center;
        @include web-fonts("Bree Serif");
        font-weight: bold;
        @include fz(24px);
    }
}

//============================================================
} //pc用スタイルここまで
//============================================================

//============================================================
@media only screen
    and (min-width: $w-sp + 1)
    and (max-width: $w-tab)
    { //tablet用スタイルここから
//============================================================

//============================================================
} //tablet用スタイルここまで
//============================================================

//============================================================
@media screen and (max-width: $w-sp) { //pc用スタイルここから
//============================================================

//============================================================
} //tablet用スタイルここまで
//============================================================

//============================================================
//    その他部分
//============================================================

//@import "addon/wp";     //for Wordpress

//Font Awesome
@import "addon/font-awesome/variables";
@import "addon/font-awesome/mixins";
@import "addon/font-awesome/path";
@import "addon/font-awesome/core";
@import "addon/font-awesome/larger";
@import "addon/font-awesome/fixed-width";
@import "addon/font-awesome/list";
@import "addon/font-awesome/bordered-pulled";
@import "addon/font-awesome/animated";
@import "addon/font-awesome/rotated-flipped";
@import "addon/font-awesome/stacked";
@import "addon/font-awesome/icons";

@import "components/print";  //Print Style
