@charset "UTF-8";
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

a {
  background-color: transparent;
}

a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code, kbd, pre, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: 700;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

/*--------------------------------------------
  標準設定(コーディングガイドに基づく設定)
---------------------------------------------*/
body {
  background-color: #fff;
  color: #585858;
  *font-size: small;
  *font: x-small;
  font-weight: normal;
  font-style: normal;
  font: 14px/1.61 Opens San, "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  text-align: justify;
  text-justify: inter-ideograph;
  text-align: left;
  text-rendering: optimizeLegibility;
}

a {
  color: #2971a7;
  text-decoration: none;
}
a:hover {
  color: #5ea4d8;
  text-decoration: underline;
  transition: all 300ms linear;
}
a:active, a:focus {
  color: #d9eaf6;
}
a img:hover {
  transition: all 300ms linear;
}

/*--------------------------------------------
  PC/SP振り分け設定
---------------------------------------------*/
@media screen and (min-width: 768px) {
  .sp {
    display: none !important;
  }
}
@media screen and (max-width: 767px) {
  .pc {
    display: none !important;
  }
}
/*--------------------------------------------
  汎用クラス
---------------------------------------------*/
/*クリアフィックス*/
.cf {
  *zoom: 1;
}
.cf:after {
  content: "";
  display: table;
  clear: both;
}
.cf:before {
  content: "";
  display: table;
}

/*クリアフィックス(簡易)*/
.oh {
  overflow: hidden;
}

/*画像置換*/
.ir {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/*テキストサイズ変更*/
.fz10 {
  font-size: 10px !important;
}

.fz11 {
  font-size: 11px !important;
}

.fz12 {
  font-size: 12px !important;
}

.fz13 {
  font-size: 13px !important;
}

.fz14 {
  font-size: 14px !important;
}

.fz15 {
  font-size: 15px !important;
}

.fz16 {
  font-size: 16px !important;
}

/*文字の太さ*/
.fwb {
  font-weight: bold !important;
}

.fwn {
  font-weight: normal !important;
}

/*文字の位置*/
.tac {
  text-align: center !important;
}

.tal {
  text-align: left !important;
}

.tar {
  text-align: right !important;
}

/*文字をメインカラーに*/
.cm {
  color: #fcfff5 !important;
}

/*背景をメインカラーに*/
.bg {
  background: #fcfff5 !important;
}

/*マージンボトム*/
.mb1 {
  margin-bottom: 5px !important;
}

.mb2 {
  margin-bottom: 10px !important;
}

.mb3 {
  margin-bottom: 15px !important;
}

.mb4 {
  margin-bottom: 20px !important;
}

.mb5 {
  margin-bottom: 25px !important;
}

.mb6 {
  margin-bottom: 30px !important;
}

/*マージンライト*/
.mr1 {
  margin-right: 5px !important;
}

.mr2 {
  margin-right: 10px !important;
}

.mr3 {
  margin-right: 15px !important;
}

.mr4 {
  margin-right: 20px !important;
}

.mr5 {
  margin-right: 25px !important;
}

.mr6 {
  margin-right: 30px !important;
}

/*パディング*/
.p1 {
  padding: 5px !important;
}

.p2 {
  padding: 10px !important;
}

.p3 {
  padding: 15px !important;
}

.p4 {
  padding: 20px !important;
}

.p5 {
  padding: 25px !important;
}

.p6 {
  padding: 30px !important;
}

/*フロート*/
.fl {
  float: left !important;
}

.fr {
  float: right !important;
}

.imgfl {
  float: left;
  margin: 0 5px 5px 0 !important;
}

.imgfr {
  float: right;
  margin: 0 0 5px 5px !important;
}

.cb {
  clear: both !important;
}

/*インラインブロック*/
.ib {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/*画像ホバー*/
.hvop:hover {
  opacity: 0.8 !important;
}

/*画像ホバー(拡大)*/
.hvsc:hover {
  transform: scale(1.2 !important);
}

@media screen and (min-width: 768px) {
  /*--------------------------------------------
    1.ヘッダー
  ---------------------------------------------*/
  header {
    width: 100%;
    margin-bottom: 15px;
  }
  header nav#gNav {
    *zoom: 1;
  }
  header nav#gNav:after {
    content: "";
    display: table;
    clear: both;
  }
  header nav#gNav:before {
    content: "";
    display: table;
  }
  header nav#gNav li {
    float: left;
    list-style-type: none;
  }

  /*--------------------------------------------
    2.コンテンツ
  ---------------------------------------------*/
  #contents {
    *zoom: 1;
    width: 100%;
    margin-bottom: 15px;
    margin: 0 auto 15px auto;
    background: #ccc;
  }
  #contents:after {
    content: "";
    display: table;
    clear: both;
  }
  #contents:before {
    content: "";
    display: table;
  }

  /*--------------------------------------------
    3.フッター
  ---------------------------------------------*/
  footer {
    *zoom: 1;
    width: 1040px;
    margin: 0 auto 15px auto;
  }
  footer:after {
    content: "";
    display: table;
    clear: both;
  }
  footer:before {
    content: "";
    display: table;
  }
  footer .copyright {
    text-align: center;
  }
}
@media print {
  * {
    background: none !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: Gray();
    filter: url("desaturate.svg#grayscale");
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
  }

  a {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  a[href="#"],
  a[href="javascript:"] {
    content: "";
  }
}
