@charset "utf-8";
//============================================================
//    基本部分
//============================================================
@import "setting";  //基本設定
@import "components/mixin";  //便利なmixin
/*--------------------------------------------
  標準設定(コーディングガイドに基づく設定)
---------------------------------------------*/
body {
  background-color: $bg;
  color: $tc;
  *font-size: small;
  *font: x-small;
  font-weight: normal;
  font-style: normal;
  font: 14px/1.61 $font;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  text-align: justify;
  text-justify: inter-ideograph;
  text-align: left;
  text-rendering: optimizeLegibility;
}

a {
  color: $lc;
  text-decoration: none;
  &:hover {
    color: lighten($lc, 20%);
    text-decoration: underline;
    @include tr(all, 300ms, linear);
  }
  &:active,
  &:focus {
    color: lighten($lc, 50%);
  }
  img:hover {
    @include tr(all, 300ms, linear);
  }
}

/*--------------------------------------------
  PC/SP振り分け設定
---------------------------------------------*/
@media screen and (min-width: $w-sp + 1) {
  .sp {
    display: none!important;
  }
}
@media screen and (max-width: $w-sp) {
  .pc {
    display: none!important;
  }
}

/*--------------------------------------------
  汎用クラス
---------------------------------------------*/
/*クリアフィックス*/
.cf{@include cf}
/*クリアフィックス(簡易)*/
.oh{overflow: hidden;}
/*画像置換*/
.ir{@include ir}
/*テキストサイズ変更*/
.fz10{font-size:10px!important;}
.fz11{font-size:11px!important;}
.fz12{font-size:12px!important;}
.fz13{font-size:13px!important;}
.fz14{font-size:14px!important;}
.fz15{font-size:15px!important;}
.fz16{font-size:16px!important;}
/*文字の太さ*/
.fwb{font-weight:bold!important;}
.fwn{font-weight:normal!important;}
/*文字の位置*/
.tac{text-align: center!important;}
.tal{text-align: left!important;}
.tar{text-align: right!important;}
/*文字をメインカラーに*/
.cm{color: $c1!important;}
/*背景をメインカラーに*/
.bg{background: $c1!important;}
/*マージンボトム*/
.mb1{margin-bottom: $px1x!important;}
.mb2{margin-bottom: $px2x!important;}
.mb3{margin-bottom: $px3x!important;}
.mb4{margin-bottom: $px4x!important;}
.mb5{margin-bottom: $px5x!important;}
.mb6{margin-bottom: $px6x!important;}
/*マージンライト*/
.mr1{margin-right: $px1x!important;}
.mr2{margin-right: $px2x!important;}
.mr3{margin-right: $px3x!important;}
.mr4{margin-right: $px4x!important;}
.mr5{margin-right: $px5x!important;}
.mr6{margin-right: $px6x!important;}
/*パディング*/
.p1{padding: $px1x!important;}
.p2{padding: $px2x!important;}
.p3{padding: $px3x!important;}
.p4{padding: $px4x!important;}
.p5{padding: $px5x!important;}
.p6{padding: $px6x!important;}
/*フロート*/
.fl{float: left!important;}
.fr{float: right!important;}
.imgfl{float: left;margin: 0 $px $px 0!important;}
.imgfr{float: right;margin: 0 0 $px $px!important;}
.cb{clear: both!important;}
/*インラインブロック*/
.ib{@include ib;}
/*画像ホバー*/
.hvop:hover{@include op(0.8 !important);}
/*画像ホバー(拡大)*/
.hvsc:hover{transform: scale(1.2 !important);}
