@charset "utf-8";

//============================================================
//    基本設定
//============================================================

// フォント設定
$font: Opens San, "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", 'メイリオ' , Meiryo , Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;

// 基本ピクセル設定
$px: 5px;

// サイズ6種
$px1x: $px; //5
$px2x: $px1x * 2; //10
$px3x: $px1x * 3; //15
$px4x: $px1x * 4; //20
$px5x: $px1x * 5; //25
$px6x: $px1x * 6; //30

// カラーテーマ5種
$c1: #fcfff5;
$c2: #91aa9d;
$c3: #193441;
$c4: #3e606f;
$c5: #d1dbbd;

// グレーテーマ5種
$grey1: #f2f2f2;
$grey2: #efefef;
$grey3: #ccc;
$black1: #101010;
$black2: #585858;

// サイト横幅
$w-site : 1040px;

//ブレイクポイント
$w-sp: 767px;

// 標準テキストカラー
$tc : #585858;

// 標準背景色
$bg : #fff;

// 標準リンクカラー
$lc : #2971a7;
