@charset "utf-8";

//============================================================
//    インポート
//============================================================

@import "conponents/normalize";  //リセットスタイルを選ぶ
@import "setting";  //基本設定
@import "addon/web-fonts";  //Google Web Fontsを読み込み
@import "components/mixin";  //便利なmixin
@import "components/base";  //utility

//============================================================
@media screen and (min-width: $w-sp + 1) { //pc用スタイルここから
//============================================================

/*--------------------------------------------
  1.ヘッダー
---------------------------------------------*/
header {
    width: 100%;
    margin-bottom: $mb3;

    hgroup {
        @include cf;
        width: $w-site;
        margin: 0 auto;
    }

    nav#gNav {
        @include cf;
        li {
            float: left;
            list-style-type: none;
        }
    }
}

/*--------------------------------------------
  2.コンテンツ
---------------------------------------------*/
#contents {
    @include cf;
    width: 100%;
    margin-bottom: $mb3;
    margin: 0 auto $mb3 auto;
    background: #ccc;
}

.row1 {
    @include grid-type-float(10px,10px,200,5,5,1040);
    div {
        border: 1px solid #ccc;
        box-sizing: border-box;
        background: red;
    }
}

/*--------------------------------------------
  3.フッター
---------------------------------------------*/
footer {
    @include cf;
    width: $w-site;
    margin: 0 auto $mb3 auto;

    .copyright {
        text-align: center;
        font-weight: bold;
        @include fz(24px);
    }
}

//============================================================
} //pc用スタイルここまで
//============================================================


//============================================================
@media screen and (max-width: $w-sp) { //sp用スタイルここから
//============================================================

//============================================================
} //sp用スタイルここまで
//============================================================

//============================================================
//    その他部分
//============================================================
@import "components/print";  //Print Style
