@charset "utf-8";
//============================================================
//    メインCSS
//============================================================
@import "components/normalize";  //リセットスタイルを選ぶ
@import "setting";  //基本設定
@import "components/mixin";  //便利なmixin
@import "components/base";  //プロトコル
//============================================================
@media screen and (min-width: $w-sp + 1) { //pc用スタイルここから
//============================================================

/*--------------------------------------------
  1.ヘッダー
---------------------------------------------*/
header {
    width: 100%;
    margin-bottom: $px3x;

    nav#gNav {
        @include cf;
        li {
            float: left;
            list-style-type: none;
        }
    }
}

/*--------------------------------------------
  2.コンテンツ
---------------------------------------------*/
#contents {
    @include cf;
    width: 100%;
    margin-bottom: $px3x;
    margin: 0 auto $px3x auto;
    background: #ccc;
}

/*--------------------------------------------
  3.フッター
---------------------------------------------*/
footer {
    @include cf;
    width: $w-site;
    margin: 0 auto $px3x auto;

    .copyright {
        text-align: center;
    }
}

//============================================================
} //pc用スタイルここまで
//============================================================


//============================================================
@media screen and (max-width: $w-sp) { //sp用スタイルここから
//============================================================

//============================================================
} //sp用スタイルここまで
//============================================================

//============================================================
//    その他部分
//============================================================
@import "addon/print";  //Print Style
