@charset "utf-8";
//============================================================
//    基本部分
//============================================================
@import "setting";  //基本設定
@import "components/mixin";  //便利なmixin
/*--------------------------------------------
  PC/SP振り分け設定
---------------------------------------------*/
@media screen and (min-width: $w-sp + 1) {
  .sp {
    display: none!important;
  }
}
@media screen and (max-width: $w-sp) {
  .pc {
    display: none!important;
  }
}

/*--------------------------------------------
  汎用クラス
---------------------------------------------*/
/*クリアフィックス*/
.cf{@include cf}
/*クリアフィックス(簡易)*/
.oh{overflow: hidden;}
/*画像置換*/
.ir{@include ir}
/*テキストサイズ変更*/
.fz10{font-size:10px!important;}
.fz11{font-size:11px!important;}
.fz12{font-size:12px!important;}
.fz13{font-size:13px!important;}
.fz14{font-size:14px!important;}
.fz15{font-size:15px!important;}
.fz16{font-size:16px!important;}
/*文字の太さ*/
.fwb{font-weight:bold!important;}
.fwn{font-weight:normal!important;}
/*文字の位置*/
.tac{text-align: center!important;}
.tal{text-align: left!important;}
.tar{text-align: right!important;}
/*文字をメインカラーに*/
.cm{color: $c1!important;}
/*背景をメインカラーに*/
.bg{background: $c1!important;}
/*マージンボトム*/
@for $i from 0 through 10 {
  .mb#{$i * $px} {
    margin-bottom:#{$i * $px}px!important;
  }
}
@media screen and (min-width: $w-sp + 1) {
  .mb-xs{margin-bottom:#{$px * 1.5}px!important;}
  .mb-s{margin-bottom:#{$px * 3}px!important;}
  .mb-m{margin-bottom:#{$px * 6}px!important;}
  .mb-l{margin-bottom:#{$px * 12}px!important;}
  .mb-xl{margin-bottom:#{$px * 16}px!important;}
}
@media screen and (max-width: $w-sp) {
  .mb-xs{margin-bottom:#{$px * 1}px!important;}
  .mb-s{margin-bottom:#{$px * 2}px!important;}
  .mb-m{margin-bottom:#{$px * 4}px!important;}
  .mb-l{margin-bottom:#{$px * 8}px!important;}
  .mb-xl{margin-bottom:#{$px * 10}px!important;}
}
/*マージンライト*/
@for $i from 0 through 10 {
  .mr#{$i * $px} {
    margin-right:#{$i * $px}px!important;
  }
}
/*パディング*/
@for $i from 0 through 10 {
  .p#{$i * $px} {
    margin-right:#{$i * $px}px!important;
  }
}
/*フロート*/
.fl{float: left!important;}
.fr{float: right!important;}
.imgfl{float: left;margin: 0 $px $px 0!important;}
.imgfr{float: right;margin: 0 0 $px $px!important;}
.cb{clear: both!important;}
/*インラインブロック*/
.ib{@include ib;}
/*画像ホバー*/
.hvop:hover{@include op(0.8 !important);}
/*画像ホバー(拡大)*/
.hvsc:hover{transform: scale(1.2 !important);}
