@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/noto/noto-thin.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/noto/noto-thin.eot?#iefix") format("embedded-opentype"), url("../fonts/noto/noto-thin.woff") format("woff"), url("../fonts/noto/noto-thin.ttf") format("truetype");
  /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/noto/noto-light.eot");
  src: url("../fonts/noto/noto-light.eot?#iefix") format("embedded-opentype"), url("../fonts/noto/noto-light.woff") format("woff"), url("../fonts/noto/noto-light.ttf") format("truetype");
}

@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/noto/noto-demilight.eot");
  src: url("../fonts/noto/noto-demilight.eot?#iefix") format("embedded-opentype"), url("../fonts/noto/noto-demilight.woff") format("woff"), url("../fonts/noto/noto-demilight.ttf") format("truetype");
}

@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/noto/noto-regular.eot");
  src: url("../fonts/noto/noto-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/noto/noto-regular.woff") format("woff"), url("../fonts/noto/noto-regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/noto/noto-medium.eot");
  src: url("../fonts/noto/noto-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/noto/noto-medium.woff") format("woff"), url("../fonts/noto/noto-medium.ttf") format("truetype");
}

@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/noto/noto-blod.eot");
  src: url("../fonts/noto/noto-blod.eot?#iefix") format("embedded-opentype"), url("../fonts/noto/noto-blod.woff") format("woff"), url("../fonts/noto/noto-blod.ttf") format("truetype");
}

@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/noto/noto-black.eot");
  src: url("../fonts/noto/noto-black.eot?#iefix") format("embedded-opentype"), url("../fonts/noto/noto-black.woff") format("woff"), url("../fonts/noto/noto-black.ttf") format("truetype");
}

/*--------------------------------------------
  PC/SP振り分け設定
---------------------------------------------*/
@media screen and (min-width: 768px) {
  .sp {
    display: none !important;
  }
}

@media screen and (max-width: 767px) {
  .pc {
    display: none !important;
  }
}

/*--------------------------------------------
  汎用クラス
---------------------------------------------*/
/*クリアフィックス*/
.cf {
  *zoom: 1;
}

.cf:after {
  content: "";
  display: table;
  clear: both;
}

.cf:before {
  content: "";
  display: table;
}

/*クリアフィックス(簡易)*/
.oh {
  overflow: hidden;
}

/*画像置換*/
.ir {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/*テキストサイズ変更*/
.fz10 {
  font-size: 10px !important;
}

.fz11 {
  font-size: 11px !important;
}

.fz12 {
  font-size: 12px !important;
}

.fz13 {
  font-size: 13px !important;
}

.fz14 {
  font-size: 14px !important;
}

.fz15 {
  font-size: 15px !important;
}

.fz16 {
  font-size: 16px !important;
}

/*文字の太さ*/
.fwb {
  font-weight: bold !important;
}

.fwn {
  font-weight: normal !important;
}

/*文字の位置*/
.tac {
  text-align: center !important;
}

.tal {
  text-align: left !important;
}

.tar {
  text-align: right !important;
}

/*文字をメインカラーに*/
.cm {
  color: #fcfff5 !important;
}

/*背景をメインカラーに*/
.bg {
  background: #fcfff5 !important;
}

/*マージンボトム*/
.mb0 {
  margin-bottom: 0px !important;
}

.mb5 {
  margin-bottom: 5px !important;
}

.mb10 {
  margin-bottom: 10px !important;
}

.mb15 {
  margin-bottom: 15px !important;
}

.mb20 {
  margin-bottom: 20px !important;
}

.mb25 {
  margin-bottom: 25px !important;
}

.mb30 {
  margin-bottom: 30px !important;
}

.mb35 {
  margin-bottom: 35px !important;
}

.mb40 {
  margin-bottom: 40px !important;
}

.mb45 {
  margin-bottom: 45px !important;
}

.mb50 {
  margin-bottom: 50px !important;
}

@media screen and (min-width: 768px) {
  .mb-xs {
    margin-bottom: 7.5px !important;
  }
  .mb-s {
    margin-bottom: 15px !important;
  }
  .mb-m {
    margin-bottom: 30px !important;
  }
  .mb-l {
    margin-bottom: 60px !important;
  }
  .mb-xl {
    margin-bottom: 80px !important;
  }
}

@media screen and (max-width: 767px) {
  .mb-xs {
    margin-bottom: 5px !important;
  }
  .mb-s {
    margin-bottom: 10px !important;
  }
  .mb-m {
    margin-bottom: 20px !important;
  }
  .mb-l {
    margin-bottom: 40px !important;
  }
  .mb-xl {
    margin-bottom: 50px !important;
  }
}

/*マージンライト*/
.mr0 {
  margin-right: 0px !important;
}

.mr5 {
  margin-right: 5px !important;
}

.mr10 {
  margin-right: 10px !important;
}

.mr15 {
  margin-right: 15px !important;
}

.mr20 {
  margin-right: 20px !important;
}

.mr25 {
  margin-right: 25px !important;
}

.mr30 {
  margin-right: 30px !important;
}

.mr35 {
  margin-right: 35px !important;
}

.mr40 {
  margin-right: 40px !important;
}

.mr45 {
  margin-right: 45px !important;
}

.mr50 {
  margin-right: 50px !important;
}

/*パディング*/
.p0 {
  margin-right: 0px !important;
}

.p5 {
  margin-right: 5px !important;
}

.p10 {
  margin-right: 10px !important;
}

.p15 {
  margin-right: 15px !important;
}

.p20 {
  margin-right: 20px !important;
}

.p25 {
  margin-right: 25px !important;
}

.p30 {
  margin-right: 30px !important;
}

.p35 {
  margin-right: 35px !important;
}

.p40 {
  margin-right: 40px !important;
}

.p45 {
  margin-right: 45px !important;
}

.p50 {
  margin-right: 50px !important;
}

/*フロート*/
.fl {
  float: left !important;
}

.fr {
  float: right !important;
}

.imgfl {
  float: left;
  margin: 0 5 5 0 !important;
}

.imgfr {
  float: right;
  margin: 0 0 5 5 !important;
}

.cb {
  clear: both !important;
}

/*インラインブロック*/
.ib {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/*画像ホバー*/
.hvop:hover {
  opacity: 0.8 !important;
}

/*画像ホバー(拡大)*/
.hvsc:hover {
  transform: scale(1.2 !important);
}

/*--------------------------------------------
標準設定
---------------------------------------------*/
body {
  background-color: #fff;
  color: #585858;
  *font-size: small;
  *font: x-small;
  font-weight: normal;
  font-style: normal;
  font: 14px/1.61 "Noto Sans Japanese", "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  text-align: justify;
  text-justify: inter-ideograph;
  text-align: left;
  text-rendering: optimizeLegibility;
}

a {
  color: #2971a7;
  text-decoration: none;
}

a:hover {
  color: #5ea4d8;
  text-decoration: underline;
  transition: all 300ms linear;
}

a:active, a:focus {
  color: #d9eaf6;
}

a img:hover {
  transition: all 300ms linear;
}

@media screen and (min-width: 768px) {
  /*--------------------------------------------
    1.ヘッダー
  ---------------------------------------------*/
  header {
    width: 100%;
  }
  header nav.g_nav {
    *zoom: 1;
  }
  header nav.g_nav:after {
    content: "";
    display: table;
    clear: both;
  }
  header nav.g_nav:before {
    content: "";
    display: table;
  }
  header nav.g_nav li {
    float: left;
    list-style-type: none;
  }
  /*--------------------------------------------
    2.コンテンツ
  ---------------------------------------------*/
  .contents {
    *zoom: 1;
    width: 100%;
    margin: 0 auto;
    background: #ccc;
  }
  .contents:after {
    content: "";
    display: table;
    clear: both;
  }
  .contents:before {
    content: "";
    display: table;
  }
  /*--------------------------------------------
    3.フッター
  ---------------------------------------------*/
  footer {
    *zoom: 1;
    width: 1040px;
    margin: 0 auto;
  }
  footer:after {
    content: "";
    display: table;
    clear: both;
  }
  footer:before {
    content: "";
    display: table;
  }
  footer .copyright {
    text-align: center;
  }
}

@media print {
  * {
    background: none !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: Gray();
    filter: url("desaturate.svg#grayscale");
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
  }
  a {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  a[href="#"],
  a[href="javascript:"] {
    content: "";
  }
}

/*# sourceMappingURL=../css/common.css.map */
