@charset "UTF-8";
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

img {
  vertical-align: top;
  font-size: 0;
  line-height: 0;
}

*, *:before, *:after {
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

input[type="button"],
input[type="submit"],
select,
textarea {
  border-radius: 0;
  -webkit-appearance: none;
}

a,
input,
label {
  -webkit-tap-highlight-color: transparent;
}

@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 300;
  src: url("//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-DemiLight.woff2") format("woff2"), url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-DemiLight.woff) format("woff"), url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-DemiLight.otf) format("opentype");
}

@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 700;
  src: url("//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Bold.woff2") format("woff2"), url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Bold.woff) format("woff"), url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Bold.otf) format("opentype");
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?8wlz7c");
  src: url("../fonts/icomoon.eot?8wlz7c#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?8wlz7c") format("truetype"), url("../fonts/icomoon.woff?8wlz7c") format("woff"), url("../fonts/icomoon.svg?8wlz7c#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-feature-settings: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-rel:before {
  content: "\e92d";
}

.icon-draw:before {
  content: "\e92a";
}

.icon-lose:before {
  content: "\e92b";
}

.icon-win:before {
  content: "\e92c";
}

.icon-pdf:before {
  content: "\e928";
}

.icon-fax:before {
  content: "\e929";
}

.icon-mail:before {
  content: "\e917";
}

.icon-instagram:before {
  content: "\e913";
}

.icon-folder:before {
  content: "\e927";
}

.icon-lensplus:before {
  content: "\e926";
}

.icon-lineat:before {
  content: "\e924";
}

.icon-arrow-back:before {
  content: "\e925";
}

.icon-blank:before {
  content: "\e923";
}

.icon-home:before {
  content: "\e922";
}

.icon-ticket:before {
  content: "\e921";
}

.icon-arrow-circle-down:before {
  content: "\e900";
}

.icon-arrow-circle-left:before {
  content: "\e901";
}

.icon-arrow-circle-right:before {
  content: "\e902";
}

.icon-arrow-circle-up:before {
  content: "\e903";
}

.icon-arrow-down:before {
  content: "\e904";
}

.icon-arrow-left:before {
  content: "\e905";
}

.icon-arrow-right:before {
  content: "\e906";
}

.icon-arrow-up:before {
  content: "\e907";
}

.icon-avatar:before {
  content: "\e908";
}

.icon-camera:before {
  content: "\e909";
}

.icon-cart:before {
  content: "\e90a";
}

.icon-check:before {
  content: "\e90b";
}

.icon-clock:before {
  content: "\e90c";
}

.icon-cross:before {
  content: "\e90d";
}

.icon-facebook_f:before {
  content: "\e90e";
}

.icon-facebook:before {
  content: "\e90f";
}

.icon-hamburger:before {
  content: "\e910";
}

.icon-heart:before {
  content: "\e911";
}

.icon-info:before {
  content: "\e912";
}

.icon-lens:before {
  content: "\e914";
}

.icon-line:before {
  content: "\e915";
}

.icon-location:before {
  content: "\e916";
}

.icon-minus:before {
  content: "\e918";
}

.icon-plus:before {
  content: "\e919";
}

.icon-post:before {
  content: "\e91a";
}

.icon-question:before {
  content: "\e91b";
}

.icon-share:before {
  content: "\e91c";
}

.icon-star:before {
  content: "\e91d";
}

.icon-telephone:before {
  content: "\e91e";
}

.icon-twitter:before {
  content: "\e91f";
}

.icon-youtube:before {
  content: "\e920";
}

/*--------------------------------------------
  PC/SP振り分け設定
---------------------------------------------*/
@media screen and (min-width: 768px) {
  .sp {
    display: none !important;
  }
}

@media screen and (max-width: 767px) {
  .pc {
    display: none !important;
  }
}

/*--------------------------------------------
  汎用クラス
---------------------------------------------*/
/*クリアフィックス*/
.cf {
  *zoom: 1;
}

.cf:after {
  content: "";
  display: table;
  clear: both;
}

.cf:before {
  content: "";
  display: table;
}

/*クリアフィックス(簡易)*/
.oh {
  overflow: hidden;
}

/*画像置換*/
.ir {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/*テキストサイズ変更*/
.fz10 {
  font-size: 10px !important;
}

.fz11 {
  font-size: 11px !important;
}

.fz12 {
  font-size: 12px !important;
}

.fz13 {
  font-size: 13px !important;
}

.fz14 {
  font-size: 14px !important;
}

.fz15 {
  font-size: 15px !important;
}

.fz16 {
  font-size: 16px !important;
}

/*文字の太さ*/
.fwb {
  font-weight: bold !important;
}

.fwn {
  font-weight: normal !important;
}

/*文字の位置*/
.tac {
  text-align: center !important;
}

.tal {
  text-align: left !important;
}

.tar {
  text-align: right !important;
}

/*文字をメインカラーに*/
.cm {
  color: #d70c18 !important;
}

/*背景をメインカラーに*/
.bg {
  background: #d70c18 !important;
}

/*マージンボトム*/
.mb0 {
  margin-bottom: 0px !important;
}

.mb5 {
  margin-bottom: 5px !important;
}

.mb10 {
  margin-bottom: 10px !important;
}

.mb15 {
  margin-bottom: 15px !important;
}

.mb20 {
  margin-bottom: 20px !important;
}

.mb25 {
  margin-bottom: 25px !important;
}

.mb30 {
  margin-bottom: 30px !important;
}

.mb35 {
  margin-bottom: 35px !important;
}

.mb40 {
  margin-bottom: 40px !important;
}

.mb45 {
  margin-bottom: 45px !important;
}

.mb50 {
  margin-bottom: 50px !important;
}

@media screen and (min-width: 768px) {
  .mb-xs {
    margin-bottom: 7.5px !important;
  }
  .mb-s {
    margin-bottom: 15px !important;
  }
  .mb-m {
    margin-bottom: 30px !important;
  }
  .mb-l {
    margin-bottom: 60px !important;
  }
  .mb-xl {
    margin-bottom: 80px !important;
  }
}

@media screen and (max-width: 767px) {
  .mb-xs {
    margin-bottom: 5px !important;
  }
  .mb-s {
    margin-bottom: 10px !important;
  }
  .mb-m {
    margin-bottom: 20px !important;
  }
  .mb-l {
    margin-bottom: 40px !important;
  }
  .mb-xl {
    margin-bottom: 50px !important;
  }
}

/*マージンライト*/
.mr0 {
  margin-right: 0px !important;
}

.mr5 {
  margin-right: 5px !important;
}

.mr10 {
  margin-right: 10px !important;
}

.mr15 {
  margin-right: 15px !important;
}

.mr20 {
  margin-right: 20px !important;
}

.mr25 {
  margin-right: 25px !important;
}

.mr30 {
  margin-right: 30px !important;
}

.mr35 {
  margin-right: 35px !important;
}

.mr40 {
  margin-right: 40px !important;
}

.mr45 {
  margin-right: 45px !important;
}

.mr50 {
  margin-right: 50px !important;
}

/*パディング*/
.p0 {
  margin-right: 0px !important;
}

.p5 {
  margin-right: 5px !important;
}

.p10 {
  margin-right: 10px !important;
}

.p15 {
  margin-right: 15px !important;
}

.p20 {
  margin-right: 20px !important;
}

.p25 {
  margin-right: 25px !important;
}

.p30 {
  margin-right: 30px !important;
}

.p35 {
  margin-right: 35px !important;
}

.p40 {
  margin-right: 40px !important;
}

.p45 {
  margin-right: 45px !important;
}

.p50 {
  margin-right: 50px !important;
}

/*フロート*/
.fl {
  float: left !important;
}

.fr {
  float: right !important;
}

.imgfl {
  float: left;
  margin: 0 5 5 0 !important;
}

.imgfr {
  float: right;
  margin: 0 0 5 5 !important;
}

.cb {
  clear: both !important;
}

/*インラインブロック*/
.ib {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/*画像ホバー*/
.hvop:hover {
  opacity: 0.8 !important;
}

/*画像ホバー(拡大)*/
.hvsc:hover {
  -webkit-transform: scale(1.2 !important);
      -ms-transform: scale(1.2 !important);
          transform: scale(1.2 !important);
}

/*--------------------------------------------
標準設定
---------------------------------------------*/
body {
  background-color: #f2f2f2;
  color: #222;
  font-size: 16px;
  line-height: 1;
  font-family: "Noto Sans Japanese", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #69c;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  outline: 0;
  transition: all 300ms ease;
}

a:active {
  text-decoration: none;
  outline: 0;
}

a:focus {
  border: 0 none;
}

@media screen and (min-width: 768px) {
  /*--------------------------------------------
    1.ヘッダー
  ---------------------------------------------*/
  header {
    width: 100%;
  }
  header nav.g_nav {
    *zoom: 1;
  }
  header nav.g_nav:after {
    content: "";
    display: table;
    clear: both;
  }
  header nav.g_nav:before {
    content: "";
    display: table;
  }
  header nav.g_nav li {
    float: left;
    list-style-type: none;
  }
  /*--------------------------------------------
    2.コンテンツ
  ---------------------------------------------*/
  .contents {
    *zoom: 1;
    width: 100%;
    margin: 0 auto;
    background: #ccc;
  }
  .contents:after {
    content: "";
    display: table;
    clear: both;
  }
  .contents:before {
    content: "";
    display: table;
  }
  /*--------------------------------------------
    3.フッター
  ---------------------------------------------*/
  footer {
    *zoom: 1;
    width: 1040px;
    margin: 0 auto;
  }
  footer:after {
    content: "";
    display: table;
    clear: both;
  }
  footer:before {
    content: "";
    display: table;
  }
  footer .copyright {
    text-align: center;
  }
}

@media print {
  * {
    background: none !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    -webkit-filter: Gray();
            filter: Gray();
    filter: url("desaturate.svg#grayscale");
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /></filter></svg>#filter');
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
  }
  a {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  a[href="#"],
  a[href="javascript:"] {
    content: "";
  }
}
