/* #! scss */
// Sass 3.2.1で確認

// 力技ゼロパディング
// $num  : <numbers>
//       : - [note] 単位ありでも戻り値は単位なしです
// $digit: <numbers>
//
// Usage:
//
// zeropadding(10, 3)
//  ↓
// 010

@function zeropadding(
    $num,
    $digit: 2
) {
    $max-nums: 1; // will be '1, 10, 100, 1000...'
    @for $i from 1 to $digit {
        $max-nums: append($max-nums, nth($max-nums, $i) * 10);
    }

    $padding: '';
    @for $i from 1 to $digit {
        @if $num < nth($max-nums, $i + 1) {
            $padding: $padding + "0";
        }
    }

    @return unquote($padding + $num);
}



// Sample
p {
    line-height: 1;
    margin: 0;
    padding: 0;
    font-size: 12px;
}

@for $i from 1 through 100 {
    .s#{zeropadding($i, 3)}:before {
        content: quote(zeropadding($i, 3));
        display: block;
    }
}
