@charset "utf-8";
//============================================================
//    メインCSS
//============================================================
@import "components/reset";  //リセットスタイルを選ぶ
@import "setting";  //基本設定
@import "components/mixin";  //便利なmixin
@import "components/base";  //プロトコル
/*--------------------------------------------
標準設定
---------------------------------------------*/
body {
  background-color: $bg;
  color: $tc;
  *font-size: small;
  *font: x-small;
  font-weight: normal;
  font-style: normal;
  font: 14px/1.61 $font;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  text-align: justify;
  text-justify: inter-ideograph;
  text-align: left;
  text-rendering: optimizeLegibility;
}
//標準リンク処理
a {
  color: $lc;
  text-decoration: none;
  &:hover {
    color: lighten($lc, 20%);
    text-decoration: underline;
    @include tr(all, 300ms, linear);
  }
  &:active,
  &:focus {
    color: lighten($lc, 50%);
  }
  img:hover {
    @include tr(all, 300ms, linear);
  }
}
//============================================================
@media screen and (min-width: $w-sp + 1) { //pc用スタイルここから
//============================================================

  /*--------------------------------------------
    1.ヘッダー
  ---------------------------------------------*/
  header {
    width: 100%;
    nav.g_nav {
      @include cf;
      li {
        float: left;
        list-style-type: none;
      }
    }
  }

  /*--------------------------------------------
    2.コンテンツ
  ---------------------------------------------*/
  .contents {
    @include cf;
    width: 100%;
    margin: 0 auto;
    background: #ccc;
  }

  /*--------------------------------------------
    3.フッター
  ---------------------------------------------*/
  footer {
    @include cf;
    width: $w-site;
    margin: 0 auto;

    .copyright {
      text-align: center;
    }
  }

//============================================================
} //pc用スタイルここまで
//============================================================
//============================================================
@media screen and (max-width: $w-sp) { //sp用スタイルここから
//============================================================

//============================================================
} //sp用スタイルここまで
//============================================================

//============================================================
//    その他部分
//============================================================
@import "addon/print";  //印刷
