@charset "utf-8";
//============================================================
//    メインCSS
//============================================================
@import "components/normalize";  //リセットスタイルを選ぶ
@import "setting";  //基本設定
@import "components/mixin";  //便利なmixin
@import "components/base";  //プロトコル
@import "components/form";  //プロトコル
//============================================================
@media screen and (min-width: $w-sp + 1) { //pc用スタイルここから
//============================================================
  /*
  #overview
  Gulp入門サンプル

  サンプルファイルです
  */

  /*#styleguide
  見出し

  ```
  <h1>見出し</h1>
  <h2>見出し</h2>
  <h3>見出し</h3>
  <h4>見出し</h4>
  <h5>見出し</h5>
  <h6>見出し</h6>
  ```
  */

  /*#styleguide
  フォーム系

  サンプルの見出しスタイル
  hoverすると青く2倍になる

  ```
  <input type="text">
  <select name="" id="">
  <option value=""></option>
  </select>
  ```
  */
/*--------------------------------------------
  1.ヘッダー
---------------------------------------------*/
header {
    width: 100%;
    margin-bottom: $px3x;

    nav#gNav {
        @include cf;
        li {
            float: left;
            list-style-type: none;
        }
    }
}

/*--------------------------------------------
  2.コンテンツ
---------------------------------------------*/
#contents {
    @include cf;
    width: 100%;
    margin-bottom: $px3x;
    margin: 0 auto $px3x auto;
    background: #ccc;
}

/*--------------------------------------------
  3.フッター
---------------------------------------------*/
footer {
    @include cf;
    width: $w-site;
    margin: 0 auto $px3x auto;

    .copyright {
        text-align: center;
    }
}

//============================================================
} //pc用スタイルここまで
//============================================================


//============================================================
@media screen and (max-width: $w-sp) { //sp用スタイルここから
//============================================================

//============================================================
} //sp用スタイルここまで
//============================================================

//============================================================
//    その他部分
//============================================================
@import "addon/print";  //Print Style

//============================================================
//    スタイルガイド
//============================================================